# Virtual environment
venv/
.venv/

# Environment variables - NEVER commit
.env

# GCP credentials - NEVER commit
*credentials*.json
*service_account*.json

# dbt
dbt_project/target/
dbt_project/dbt_packages/
dbt_project/logs/

# Python
__pycache__/
*.pyc
.ipynb_checkpoints/

# Terraform
infra/.terraform/
infra/*.tfstate
infra/*.tfstate.backup
infra/.terraform.lock.hcl

# Mac
.DS_Store

# Local data files
ingestion/.incremental_cursor.json
ingestion/census_sample.csv
